@import "../styles/variables";

.monthSelector {
  display: inline-block;
  padding: 0.5rem;
  user-select: none;
  summary {
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
  }
  summary::-webkit-details-marker,
  summary::marker {
    display: none;
    content: none;
  }
  summary:after {
    content: "\f078";
    margin-left: 1rem;
    font-size: smaller;
    color: hsl($primary-hue, 25%, 40%);
  }
  &[open] summary:after {
    content: "\f077";
  }
  ul {
    position: absolute;
    display: inline-table;
    padding: 0.5rem 0;
    $s: 8px;
    box-shadow: 0 0 $s $s rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-spacing: 0.5rem;
    background: hsl($primary-hue, 7%, 52%);
    li.month {
      display: table-cell;
      width: 3rem;
      height: 2.4rem;
      padding: 0.25rem;

      background: white;
      color: black;

      font-size: small;
      text-align: center;
      word-spacing: 1rem;
      vertical-align: middle;
      cursor: pointer;

      border: 1px dashed black;
      border-radius: 5px;

      &:hover {
        background: hsl($primary-hue, 14%, 93%);
      }
      &[data-selected="true"] {
        background: hsl($primary-hue, 10%, 22%);
        color: white;
        cursor: default;
        border-color: white;
        position: relative;
      }
      &[data-budgeted="true"] {
        border-style: solid;
      }
      span.today {
        position: absolute;
        margin: 24px -28px;
        font-size: smaller;
        font-weight: bold;
        color: #ddd;
        &:before {
          content: " ";
        }
      }
    }
  }
  button {
    display: table-cell;
    background: none;
    border: none;
    color: white;
    font-size: large;
    transform: translateY(0.5rem);
  }
}
