.contactForm {
  padding: 2px;
  input {
    width: 300px;
  }
  button {
    color: black;
    font-size: 1rem;
    background: #ff9a03;
    &:hover {
      background: #ffd603;
    }
    margin-top: 5px;
  }

  small {
    display: block;
  }
}
